{% extends "web/base.html" %}
{% load static %}
{% block content %}
{% load paginatortags %}
        <section id="my-posts-home">
            <section class="wrapper">                
                <header>
                    <h1>
                        <a href="{% url 'web:index' %}">
                            <img
                                src="{% static './images/icons/blog-logo.svg' %}"
                                alt="Logo"
                            />
                        </a>
                    </h1>
                    <div>
                        <a href="{% url 'posts:create_posts' %}" class="login my-posts">
                        Create
                        </a>
                        <a href="./my-posts.html" class="login my-posts">
                            My Posts
                        </a>
                        <a href="#" class="login"> Logout </a>
                    <div>
                    <div id="hamburger-icon">
                        <img
                            src="{% static './images/icons/hamburger.svg' %}"
                            alt="Hamburger"
                        />
                    </div>
                </header>
                <section class="spotlight">
                    <h3>
                        {{title}}
                    </h3>
                    <ul class="posts">
                        {% for instance in instances %}
                        <li class="post">
                            <div class="top">
                                <h5 class="title">
                                   {{instance.title}}
                                </h5>
                                <div class="buttons">
                                    <a 
                                    href="{% url 'posts:delete_posts' id=instance.id %}" 
                                    class="danger action-button reload"
                                    data-text="Are you sure want to remove this post. You can't undo this action." 
                                    data-title="Confirm Delete!"
                                    title="Delete!"
                                >
                                        <img src="{% static './images/icons/delete.svg' %}" alt="Delete" />
                                    </a>
                                    <a href="{% url 'posts:edit_posts' id=instance.id %}" class="warning">
                                        <img src="{% static './images/icons/pencil.svg' %}" alt="Edit" />
                                    </a>
                                    <a 
                                        href="{% url 'posts:draft_posts' id=instance.id %}" 
                                        class="{% if instance.is_draft %}success{% else %}danger{% endif %} action-button reload"
                                        data-text="Are you sure want to update this post" 
                                        data-title="Confirm Status!"
                                        title="Draft"
                                    >
                                        <img src="{% static './images/icons/sheet.svg' %}" alt="Edit" />
                                    </a>
                                </div>
                            </div>
                            <p class="description">
                                {{instance.short_description}}
                            </p>
                            <div class="bottom">
                                <a href="{% url 'web:post' id=instance.id %}" class="view">
                                    View
                                    <span>
                                        <img src="{% static './images/icons/up-arrow.svg' %}" alt="Arrow">
                                    </span>
                                </a>
                                <p class="date">
                                    {{instance.published_date}}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>

                {% load_pagination instances %}

            </section>
        </section>
{% endblock %}
